<section class="max-lg:mx-6">
  <div
    class="mx-auto max-w-5xl w-full my-10 flex justify-between max-lg:flex-col"
  >
    <div class="w-[20%] max-lg:w-2/3">
      <h2 class="text-4xl text-white mb-8">
        Curate your experience as you like
      </h2>
      <button
        class="bg-gold border border-none text-sm rounded-xl text-white w-full px-3 py-2 rounded"
      >
        <div class="flex justify-between items-center">
          <p class="text-md">Book Tickets</p>
          <p class="text-2xl">→</p>
        </div>
      </button>
    </div>
    <div
      class="w-[75%] max-lg:w-full max-lg:mt-10 flex justify-between max-lg:flex-wrap"
    >
      <div
        *ngFor="let image of images"
        class="ml-4 max-lg:w-[48%] j max-lg:ml-0 max-lg:mb-8"
      >
        <img
          [src]="image.path"
          [width]="image.width"
          class="rounded-xl max-lg:w-full"
        />
        <p class="mt-2 text-xl text-white text-center max-md:text-md">
          {{ image.name }}
        </p>
      </div>
    </div>
  </div>
</section>
