<footer class="text-white pt-12 pb-12 max-lg:pt-8 border-t-4 border-gray-400">
  <div class="max-lg:mx-4">
    <div class="hidden max-lg:flex max-lg:my-8 max-lg:mt-0 mt-10">
      <img src="/groves-logo.png" alt="The Groves Logo" class="w-80" />
    </div>
    <div
      class="container mx-auto text-gray-300 flex justify-between max-lg:flex-col items-center"
    >
      <div>
        <h2 class="text-4xl mb-4">Join us for an</h2>
        <h2 class="text-4xl mb-4">unforgettable experience</h2>
      </div>
      <div class="max-lg:w-full max-lg:my-8">
        <h4 class="text-xs text-sm text-center max-lg:text-left mb-4">
          DOWNLOAD THE GROVES APP
        </h4>
        <div class="flex max-lg:justify-start justify-between">
          <img
            src="/app-store.png"
            alt="Download on App Store"
            class="w-40 bg-white rounded-xl"
          />
          <img
            src="/google-play.png"
            alt="Get it on Google Play"
            class="w-40 ml-4 bg-white rounded-xl"
          />
        </div>
      </div>
    </div>
    <div
      class="container mx-auto text-gray-300 flex text-sm justify-between max-lg:flex-col mt-10"
    >
      <div class="max-lg:mb-4">
        <h3 class="mb-2 max-lg:text-xl">Location</h3>
        <p>Al-Hizam Park, Al-Semairi, Yanbu Al Bahr 46455,</p>
        <p>Riyadh, Saudi Arabia</p>
      </div>
      <div class="max-lg:mb-4">
        <h3 class="mb-2 max-lg:text-xl">Working Hours</h3>
        <p>Sun until Thurs: 4:00PM</p>
        <p>Fri & Sat: 2:30PM</p>
        <p class="mt-4">Gates Close at:</p>
        <p>Sat until Wed: 12:00AM</p>
        <p>Thu & Fri: 12:30AM</p>
      </div>
      <div>
        <h3 class="mb-2 max-lg:text-xl">Guest Service Call</h3>
        <p>ccthegroves-sa.com</p>
        <p>920001672</p>
        <p class="mt-4">+966556631309</p>
      </div>
      <div class="max-lg:hidden"></div>
    </div>
    <div class="container flex max-lg:hidden justify-between mx-auto w-full">
      <div class="flex flex-col items-start">
        <div class="flex justify-center mt-10">
          <img src="/groves-logo.png" alt="The Groves Logo" class="w-80" />
        </div>
        <div class="container mx-auto flex mt-10">
          <a href="#" class="text-gray-400 text-sm mr-4">Terms & Conditions</a>
          <a href="#" class="text-gray-400 text-sm mr-4">Privacy Policy</a>
          <p class="text-gray-400 text-sm">
            © 2023 The Groves for Entertainment
          </p>
        </div>
      </div>
      <div class="flex flex-col items-end justify-between">
        <div class="flex h-full items-end">
          <img src="/tictok-icon.png" alt="Visa" class="w-8 h-8 mr-6" />
          <img
            src="/instagram-icon.png"
            alt="Mastercard"
            class="w-8 h-8 mr-6"
          />
          <img
            src="/x-social-icon.png"
            alt="American Express"
            class="w-8 h-8 mr-6"
          />
          <img
            src="/snapchat-icon.png"
            alt="American Express"
            class="w-8 h-8 mr-6"
          />
        </div>
        <div class="flex mt-10 items-center">
          <img src="/visa-icon.png" alt="Visa" class="w-8 h-3 mr-2" />
          <img
            src="/master-card-icon.png"
            alt="Mastercard"
            class="w-8 h-6 mr-2"
          />
          <img
            src="/american-express-icon.png"
            alt="American Express"
            class="w-8 h-6 mr-2"
          />
        </div>
      </div>
    </div>
    <div class="container hidden max-lg:flex justify-between mx-auto w-full">
      <div class="flex flex-col w-full mt-10 items-end justify-between">
        <div class="flex h-full w-full justify-start">
          <img src="/tictok-icon.png" alt="Visa" class="w-8 h-8 mr-8" />
          <img
            src="/instagram-icon.png"
            alt="Mastercard"
            class="w-8 h-8 mr-8"
          />
          <img
            src="/x-social-icon.png"
            alt="American Express"
            class="w-8 h-8 mr-8"
          />
          <img
            src="/snapchat-icon.png"
            alt="American Express"
            class="w-8 h-8 mr-8"
          />
        </div>
        <div class="container mx-auto flex mt-10 flex-col">
          <a href="#" class="text-gray-400 text-lg mb-4">Terms & Conditions</a>
          <a href="#" class="text-gray-400 text-lg mb-4">Privacy Policy</a>
          <p class="text-gray-400 text-lg">
            © 2023 The Groves for Entertainment
          </p>
        </div>
        <div class="flex mt-10 items-center w-full">
          <img src="/visa-icon.png" alt="Visa" class="w-8 h-3 mr-2" />
          <img
            src="/master-card-icon.png"
            alt="Mastercard"
            class="w-8 h-6 mr-2"
          />
          <img
            src="/american-express-icon.png"
            alt="American Express"
            class="w-8 h-6 mr-2"
          />
        </div>
      </div>
    </div>
  </div>
</footer>
