<section>
  <div
    class="mx-auto max-w-5xl max-lg:mx-0 my-20 max-lg:mx-6 max-lg:flex-col-reverse flex justify-between items-center text-white"
  >
    <img src="/map.png" class="w-[60%] max-lg:mt-12" />
    <div class="w-[45%] max-lg:w-[90%] flex flex-col">
      <p class="mb-6 text-sm">EXPERIENCE THE GROOVES</p>
      <h1 class="mb-6 text-5xl">Find your place</h1>
      <p class="mb-10 text-sm">
        Our interactive map will show you the way to the shops and restaurants
        that you want to see
      </p>
      <button
        class="bg-gold border border-none text-sm rounded-xl text-white w-2/4 px-3 py-2 rounded"
      >
        <div class="flex justify-between items-center">
          <p class="text-md">Open the Map</p>
          <p class="text-2xl">→</p>
        </div>
      </button>
    </div>
  </div>
</section>
<section>
  <app-footer-section></app-footer-section>
</section>
