<section class="w-full">
  <div class="max-w-5xl max-lg:px-4 mx-auto w-full my-10">
    <h2 class="max-lg:w-full w-2/3 text-5xl text-white mb-8">
      Book General Access ticket and enjoy the attractions for free
    </h2>
    <button
      class="bg-gold border border-none text-sm rounded-xl text-white max-lg:w-2/3 w-1/4 px-3 py-2 rounded"
    >
      <div class="flex justify-between items-center">
        <p class="text-md">Book General Access Ticket</p>
        <p class="text-2xl">→</p>
      </div>
    </button>
  </div>
  <div class="max-w-5xl mx-auto w-full flex p">
    <div *ngFor="let image of images" class="ml-4 flex flex-col items-center">
      <img [src]="image.path" [width]="image.width" class="rounded-xl" />
      <p class="mt-2 text-xl text-white">{{ image.name }}</p>
    </div>
  </div>
</section>
