/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background-color: #141d02;
}

.hover\:text-gold:hover,
.text-gold {
  color: #d4af37;
}

.bg-gold {
  background-color: #d4af37;
}
